# 19/02/2022

# Python asoslari

# 7-dars: For sikl operatori

# Muallif: Farrux Sotivoldiyev

In [35]:
#for1
k = int(input("k = "))
n = int(input("n = "))
for i in range(n):
    print(k)

k = 2
n = 9
2
2
2
2
2
2
2
2
2

In [47]:
#for2
a = int(input("a = "))
b = int(input("b = "))
k = 0
for i in range(a,b+1):
    k += 1
    print(i)
print(k,"ta son")

a = 2
b = 6
2
3
4
5
6
5 ta son

In [46]:
#for3
a = int(input("a = "))
b = int(input("b = "))
k = 0
for i in range(b-1,a,-1):
    k += 1
    print(i)
print(k,"ta son")

a = 2
b = 6
5
4
3
3 ta son

In [45]:
#for4
narx = float(input("Narx = "))
for i in range(1,11):
    print(f"{i} kg konfet {narx*i} so'm")

Narx = 3200
1 kg konfet 3200.0 so'm
2 kg konfet 6400.0 so'm
3 kg konfet 9600.0 so'm
4 kg konfet 12800.0 so'm
5 kg konfet 16000.0 so'm
6 kg konfet 19200.0 so'm
7 kg konfet 22400.0 so'm
8 kg konfet 25600.0 so'm
9 kg konfet 28800.0 so'm
10 kg konfet 32000.0 so'm

In [1]:
#for5
narx = float(input("Narx = "))
for i in range(1,11):
    print(f"{i/10:.1f} kg konfet {i/10*narx:.1f} so'm")

Narx = 4500
0.1 kg konfet 450.0 so'm
0.2 kg konfet 900.0 so'm
0.3 kg konfet 1350.0 so'm
0.4 kg konfet 1800.0 so'm
0.5 kg konfet 2250.0 so'm
0.6 kg konfet 2700.0 so'm
0.7 kg konfet 3150.0 so'm
0.8 kg konfet 3600.0 so'm
0.9 kg konfet 4050.0 so'm
1.0 kg konfet 4500.0 so'm

In [5]:
#for6
narx = float(input("Narx = "))
for i in range(12,21):
    print(f"{i/10:.1f} kg konfet {narx*i/10:.1f} so'm")

Narx = 3200
1.2 kg konfet 3840.0 so'm
1.3 kg konfet 4160.0 so'm
1.4 kg konfet 4480.0 so'm
1.5 kg konfet 4800.0 so'm
1.6 kg konfet 5120.0 so'm
1.7 kg konfet 5440.0 so'm
1.8 kg konfet 5760.0 so'm
1.9 kg konfet 6080.0 so'm
2.0 kg konfet 6400.0 so'm

In [42]:
#for7
a = int(input("a = "))
b = int(input("b = "))
s = 0
for i in range(a,b+1):
    s += i
print("summa:",s)

a = 1
b = 10
summa: 55

In [41]:
#for8
a = int(input("a = "))
b = int(input("b = "))
k = 1
for i in range(a,b+1):
     k *= i
print("jami kopaytma:",k)

a = 1
b = 5
jami kopaytma: 120

In [38]:
#for9
a = int(input("a = "))
b = int(input("b = "))
s = 0
for i in range(a,b+1):
    s += i**2
print("kvadratlari yeg'indisi:",s)

a = 1
b = 3
kvadratlari yeg'indisi: 14

In [2]:
#for10
n = int(input("n = "))
s = 0 
for i in range(1,n+1):
    s += 1/i
print("summa:",s)

n = 5
summa: 2.283333333333333

In [6]:
#for11
n = int(input("n = "))
s = 0 
for i in range(n,2*n+1):
    s += i**2
print("summa:",s)

n = 1
summa: 5

In [26]:
#for12
n = int(input("n = "))
k = 1
for i in range(11,n+11):
    print(i/10)
    k *= i/10
print("jami:",k)

n = 5
1.1
1.2
1.3
1.4
1.5
jami: 3.6036

In [28]:
#for13                          
n = int(input("n = "))
s = 0
for i in range(11,n+11):
    s += (i/10)*((-1)**(i+1))
print(s)

n = 10
-0.5

In [30]:
#for14
n = int(input("n = "))
s = 0
for i in range(1,2*n,2):
    s += i
print("kvadrati:",s)

n = 9
kvadrati: 81

In [18]:
#for15                                   
n = int(input("n = "))
a = float(input("a = "))
p = 1
for i in range(1,n+1):
    p *= a
print(p)

n = 5
a = 2
32.0

In [1]:
#for16
n = int(input("n = "))
a = float(input("a = "))
k = 1
for i in range(1,n+1):
    k *= a
    print(k)

n = 5
a = 2
2.0
4.0
8.0
16.0
32.0

In [61]:
#for17
n = int(input("n = "))
a = float(input("a = "))
s = 0
for i in range(0,n+1):
    print(f"{i}-darajasi {a**(i):.2f}")
    s += a**(i)
print("Summa:",s)

n = 3
a = 2
0-darajasi 1.00
1-darajasi 2.00
2-darajasi 4.00
3-darajasi 8.00
Summa: 15.0

In [66]:
#for18
n = int(input("n = "))
a = float(input("a = "))
s = 0
for i in range(0,n+1):
    s += ((-1)**i)*(a**(i))
    print(f"{i}- darajasi {a**(i)*((-1)**i)}")
print("jami:",s)

n = 3
a = 2
0- darajasi 1.0
1- darajasi -2.0
2- darajasi 4.0
3- darajasi -8.0
jami: -5.0

In [17]:
#for19
n = int(input("n = "))
p = 1
for i in range(1,n+1):
    p *= i
print(p)

n = 5
120

In [36]:
#for20
n = int(input("n = "))
s = 0
p = 1
for i in range(1,n+1):
    p *= i
    s += p
print("summa:",s)

n = 4
summa: 33

In [41]:
#for21
n = int(input("n = "))
s = 0
p = 1
for i in range(1,n+1):
    p *= i
    s += 1/p
print(1+s)

n = 5
2.716666666666667

In [16]:
#for22
n = int(input("n = "))
x = float(input("x = "))
s = 0
p = 1
for i in range(1,n+1):
    p *= i
    s += (x**i)/p
print("yeg'indi:",s)

n = 3
x = 2
yeg'indi: 5.333333333333333

In [15]:
#for23                     
n = int(input("n = "))
x = float(input("x = "))
s = 0
p = 1
for i in range(1,n+1):
    p *= (2*i+1)*2*i
    s += (((-1)**i) * (x**(2*i+1)))/p
print('Summa:',x+s)

n = 2
x = 2
0.9333333333333333

In [12]:
#for24                  
n = int(input("n = "))
x = float(input("x = "))
p = 1
s = 0
for i in range(1,n+1):
    p *= (2*i-1)*2*i
    s += ((-1)**i * (x**(2*i)))/p
print('Summa:',1+s)

n = 2
x = 2
Summa: -0.3333333333333335

In [13]:
#for25
n = int(input("n = "))
x = float(input("x = "))
s = 0
for i in range(1,n+1):
    s += (((-1)**(i-1))*(x**i))/i
print("Summa:",s)

n = 2
x = 0.2
Summa: 0.18

In [117]:
#for26
n = int(input("n = "))
x = float(input("x = "))
s = 0
for i in range(0,n+1):
    s += (((-1)**i)*(x**(2*i+1)))/(2*i+1) 
print("Summa:",s)

n = 4
x = -0.25
Summa: -0.24497868371388265

In [1]:
#for27
n = int(input("n = "))
x = float(input("x = "))
s = 1
m = 1
yegindi = 0
for i in range(1,n+1):
    s *= 2*i-1
    m *= 2*i
    yegindi += (s*x**(2*i+1))/(m*(2*i+1))
print("summa:",yegindi+x)

n = 5
x = 1
summa: 1.3390636273448773

In [32]:
#for28
n = int(input("n = "))
x = float(input("x = "))
s = 1
m = 1
yegindi = 0
for i in range(1,n+1):
    s *= 2*i-3
    m *= 2*i
    yegindi += ((s*((-1)**(i-1))*x**i)/m)*(-1)
print("summa:",1+yegindi)

n = 3
x = 1
summa: 1.4375

In [10]:
#for29
n = int(input("N = "))
a = float(input("A = "))
b = float(input("B = "))

if a < b:
    a,b = b,a
c = (a-b) / n
for i in range(n+1):
    print(round(a,3))
    a -= c

N = 8
A = -45
B = 2
2.0
-3.875
-9.75
-15.625
-21.5
-27.375
-33.25
-39.125
-45.0

In [11]:
#for30 
from math import sin
n = int(input("N = "))
a = float(input("A = "))
b = float(input("B = "))

if a < b:
    a,b = b,a
c = (a-b) / n
for i in range(n+1):
    print(f"F(X) = {1 - sin(a)}")
    a -= c

N = 5
A = -8
B = 25
F(X) = 1.1323517500977731
F(X) = 1.4345656220718968
F(X) = 1.6935250847771237
F(X) = 1.8834546557201537
F(X) = 1.9854497299884604
F(X) = 1.989358246623382

In [33]:
#for31
n = int(input("n = "))
A0 = 2
A1 = 0

for i in range(1,n+1):
    A1 = 2 + 1/A0
    print(f"A{i} = {A1}")
    A0 = A1

n = 3
A1 = 2.5
A2 = 2.4
A3 = 2.4166666666666665

In [82]:
#for32
n = int(input("n = "))
A0 = 1
A1 = 0

for i in range(1,n+1):
    A1 = (A0 + 1)/i
    print(f"A{i} = {A1}")
    A0 = A1

n = 3
A1 = 2.0
A2 = 1.5
A3 = 0.8333333333333334

In [11]:
#for33 Fibonachi sonlari 1-usul
n = int(input("n = "))
F1 = 1
F2 = 1

for i in range(1,n+1):
    print(F1)
    F1,F2 = F2,F1+F2

n = 5
1
1
2
3
5

In [34]:
#for33 Fibonachi sonlari 2-usul
n = int(input("n = "))
F1 = 1
F2 = 1

for i in range(1,n+1):
    print(F1)
    F = F1 + F2
    F1 = F2
    F2 = F

n = 9
1
1
2
3
5
8
13
21
34

In [85]:
#for34
n = int(input("n = "))
A1 = 1
A2 = 2

for i in range(n):
    print(A1)
    A = (A1 + 2*A2)/3
    A1 = A2
    A2 = A

n = 3
1
2
1.6666666666666667

In [86]:
#for35
n = int(input("n = "))
A1 = 1
A2 = 2
A3 = 3

for i in range(n):
    print(A1)
    A = A3 + A2 - 2*A1
    A1 = A2
    A2 = A3
    A3 = A

n = 8
1
2
3
3
2
-1
-5
-10

In [63]:
#for36
n = int(input("n = "))
k = int(input("k = "))
s = 0 
for i in range(1,n+1):
    s += i**k
print("Summa:",s)

n = 4
k = 2
Summa: 30

In [64]:
#for37
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s += i**i
print("Summa:",s)

n = 3
Summa: 32

In [66]:
#for38
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s += i**((n+1)-i)
print("Summa:",s)

n = 3
Summa: 8

In [62]:
#for39                      
a = int(input("A = "))
b = int(input("B = "))

for i in range(a,b+1):
    print(f"{i}\n"*i)

A = 5
B = 9
5
5
5
5
5

6
6
6
6
6
6

7
7
7
7
7
7
7

8
8
8
8
8
8
8
8

9
9
9
9
9
9
9
9
9

In [61]:
#for40                       
a = int(input("A = "))
b = int(input("B = "))
t = 1

for i in range(a,b+1):
        print(f"{i}\n"*t)
        t += 1

A = 5
B = 9
5

6
6

7
7
7

8
8
8
8

9
9
9
9
9

In [36]:
#for39    ichma-ich for
a = int(input("A = "))
b = int(input("B = "))

for i in range(a,b+1):
    for j in range(i):
        print(i,end = " ")

A = 5
B = 6
5 5 5 5 5 6 6 6 6 6 6

In [ ]:
#for40     ichma-ich for              
a = int(input("A = "))
b = int(input("B = "))
c = 1

for i in range(a,b+1):
    for j in range(c):
        print(i,end = " ")
    c += 1

In [34]:
#for40 Unversal usul   
a = int(input("A = "))
b = int(input("B = "))
c = 1
if a > b:
    a,b = b,a
for i in range(a,b+1):
    for j in range(c):
        print(i)
    c += 1

A = 1
B = 5
1
2
2
3
3
3
4
4
4
4
5
5
5
5
5